.table-view-section{
  .add-new-entry {
    background: var(--black);
    font-family: 'VT323', monospace;
    border: none;
    border-radius: 5px;
    color: var(--white);
    cursor: pointer;
    font-size: 1.4rem;
    padding: .7rem 1.3rem;
    transition: all 250ms ease;
    text-decoration: none;
  }

  .add-new-entry:hover {
    background: var(--yellow);
    color: var(--black);
    font-weight: normal;
  }
}