.no-results-div {
  margin-top: 4rem;

  .empty-grow-log {
    font-size: 2rem;
    text-align: center;
    color: var(--sec-orange);
    font-weight: normal;
  }

  .sub-empty-grow-log {
    text-align: center;
    color: var(--yellow);
    font-weight: normal;
  }
}